<h1>New Product</h1>

<form method="GET" action="/">
  <button>HOME</button>
</form>
<form method = 'POST' action="/products" enctype= 'application/x-www-form-urlencoded'>
  Name:
  <input type="text" name='name' >
  Price:
  <input type="text" name='price'>
  Inventory:
  <input type="text" name='inventory'>
<button type= 'submit'> ADD PRODUCT </button>
</form>
<h2>Note: all fields must be filled. Price must be a number ^-^</h2>
