<h1>Product</h1>

<div class="product">
{{#each result}}
<div class ="product">
  <p>Product: {{name}}</p>
  <p>Price: {{price}}</p>
  <p>Inventory: {{inventory}}</p>
  <p>Id: {{id}}</p>
</div>
{{/each}}
</div>
